/*------------------------
  404 Page
-------------------------*/
.not-found-content {
  background: url('../images/bg/contacts-page/contacts.svg');
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  display: flex;
  font-family: $font-gilroy;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 96px);
  width: 100%;

  @include main-title-h1-h2;
}
