.numbers-section {
  padding-top: $indent-s;
  padding-bottom: $indent-m;
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    .number {
      color: $dark-blue;
      font-family: 'Gilroy', sans-serif;
      font-size: 75px;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: 0.6px;
    }
    .text {
      color: #7a7ba3;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.22;
      letter-spacing: 0.14px;
      text-align: center;
    }
  }

  @include breakpoint(tablet) {
    .item {
      margin-bottom: 30px;
    }
  }
  @include breakpoint(mobile) {
    padding-top: $indent-m;
    padding-bottom: $indent-m;
    .item {
      margin-bottom: 45px;
      .number {
        font-size: 55px;
      }
    }
  }
}

.why-section {
  padding-bottom: $indent-s;
  .wrapper {
    max-width: 770px;
    margin: auto;
  }

  &__heading {
    max-width: 635px;
    margin: auto;
    padding-bottom: 100px;
    text-align: center;

    h3 {
      padding-bottom: 25px;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 1.78;
      opacity: 0.8;
    }
  }

  .row {
    margin: 0 auto;

    @media (min-width: 768px) {
      > div:nth-child(even) {
        .item {
          margin-left: 30px;
        }
      }
    }

    .item {
      max-width: 325px;

      img {
        object-fit: contain;
        height: 165px;
      }
      h4 {
        font-size: 24px;
        font-weight: 900;
        line-height: 2.58;
        padding: 40px 0 10px;
      }
      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.75;
        padding-bottom: 100px;
        opacity: 0.75;
      }
    }
  }
  @include breakpoint(mobile) {
    padding-bottom: $indent-xs;
  }
}
