/*-------------------------
  Blog Page
-------------------------*/
.blog__header__bg {
  background: url('../images/bg/blog-page/home.png') no-repeat;
  background-size: cover;
  background-position: bottom;
  position: absolute;
  min-height: 512px;
  width: 100%;
}

.blog__newest__post {
  position: relative;
  top: 150px;
  max-height: 500px;

  &__label,
  &__content {
    color: $white;
    position: absolute;
    z-index: 1;
  }

  &__image {
    max-height: 500px;
    width: 100%;
  }

  &__label {
    background-color: $dark-blue;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding: 8px 12px;
    top: 30px;
    left: 40px;
  }

  &__content {
    @include flex-column-center-center;
    width: 100%;
    height: 100%;

    .date {
      font-size: $font-size-xs;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 30px;
      margin-top: 60px;
    }

    .title {
      @include title-md;
      margin-bottom: 60px;
      text-align: center;
      max-width: 90%;
    }

    .btn {
      width: 160px;
      height: 48px;
    }
  }
}

.blog__posts {
  margin-top: 200px;

  .more {
    cursor: pointer;
    font-size: $font-size-xs;
    font-weight: 900;
    line-height: 2.36;
    letter-spacing: 0.56px;
    text-align: center;
    margin-bottom: 90px;
  }
}

.blog__post {
  margin: auto auto 80px auto;
  max-width: 600px;

  a {
    color: inherit;
  }

  img {
    width: 100%;
    height: 100%;
    min-height: 310px;
    object-fit: cover;
  }

  .title {
    font-family: $font-gilroy;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.2;
    margin: 28px 0;
  }

  .caption {
    line-height: 1.63;
    margin-bottom: 34px;
  }

  span {
    font-size: $font-size-xs;
    font-weight: bold;
    opacity: 0.4;
  }
}
