/*-------------------------
  Blog Post Page
-------------------------*/
.blog-post {
  &__header {
    position: relative;
    height: 480px;

    &__bg {
      position: absolute !important;
      width: 100%;
      height: 100%;
    }

    &__content {
      @include flex-column-center-bottom;
      color: $white;
      position: relative;
      height: 100%;

      .date {
        font-size: $font-size-xs;
        font-weight: bold;
        line-height: 1;
        margin-bottom: 30px;
      }

      .title {
        @include title-md;
        text-align: center;
        max-width: 790px;
        margin-bottom: 45px;
      }

      .time {
        font-size: 12px;
        margin-bottom: 65px;
      }
    }
  }

  &__content {
    padding-top: 90px;
    padding-bottom: 90px;
    border-bottom: 1px solid #788ca015;

    ul,
    ol {
      padding-left: 20px;
    }

    p,
    li {
      font-size: $font-size-m;
      line-height: 1.83;
    }

    p {
      margin-bottom: 40px;
    }

    li {
      margin-bottom: 24px;
    }

    h2 {
      font-family: $font-gilroy;
      font-size: 32px;
      font-weight: 800;
      line-height: 1.44;
      letter-spacing: 0.32px;
      margin-bottom: 28px;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  &__also-like {
    margin: 90px auto 150px auto;

    .title {
      font-size: $font-size-l;
      font-weight: 900;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 75px;
    }

    .blog-card {
      a {
        color: inherit;
      }
    }
  }
}
