/*-------------------------
  Current Case Page
-------------------------*/
.case {
  .description-block {
    .section-case-logo {
      margin-bottom: 50px;
      max-width: 280px;
    }

    .section-name {
      position: relative;
      font-family: $font-gilroy;
      font-size: $font-size-xxxl;
      color: $dark-blue;
      padding-bottom: 35px;
      &--white {
        color: $white;
      }
      &::before {
        position: absolute;
        top: -50px;
        left: -50px;
        content: '';
        background: inherit;
        font-family: $font-gilroy;
        font-weight: 900;
        font-size: 127px;
        color: rgba(255, 255, 255, 0.05);
      }
    }

    .section-overview {
      font-family: $font-lato;
      font-size: $font-size-s;
      line-height: 28px;
      color: $dark-blue;
      &--white {
        color: $white;
      }
      &--padding {
        padding-bottom: 50px;
      }
    }

    .section-link {
      font-weight: 700;
      font-size: $font-size-m;
      color: $cyan;
      letter-spacing: 0.2px;
    }

    .section-list {
      padding-top: 50px;
      padding-left: 0;
      list-style: none;

      li {
        display: flex;
        align-items: flex-start;
        color: $white;
        font-size: $font-size-s;
        font-weight: 500;
        margin-bottom: 20px;
        img {
          margin-right: 25px;
        }
      }
    }
  }

  .section-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      width: 100%;
    }
  }

  &__header {
    color: $white;
    background: url('../images/bg/main-page/home.svg') no-repeat; //Temporary bg
    background-size: cover;
    min-height: 127vh;
  }

  &__overview {
    padding: $indent-l 0;
    .section-name {
      &::before {
        content: '01' !important;
        color: rgba(52, 145, 239, 0.05) !important;
      }
    }
  }

  &__challenge {
    background: url('../images/bg/main-page/reviews.svg') no-repeat;
    background-size: cover;
    color: $white;
    padding: $indent-m 0;
    .section-name {
      &::before {
        content: '02' !important;
      }
    }
  }

  &__solution {
    padding: $indent-m 0;
    .section-name {
      &::before {
        content: '03' !important;
        color: rgba(52, 145, 239, 0.05) !important;
      }
    }
    .section-list {
      li {
        color: $dark-blue !important;
        img {
          margin-right: 15px !important;
        }
      }
    }
    .review-block {
      color: $dark-blue;
      text-align: center;
      padding-top: 200px;
      h4 {
        font-family: $font-gilroy;
        font-weight: 800;
        font-size: $font-size-xxl;
        text-transform: capitalize;
        padding-bottom: 40px;
      }
      p {
        font-style: italic;
        font-size: $font-size-m;
      }
      .review-author {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        strong {
          font-weight: 900;
          font-size: $font-size-m;
          padding-bottom: 5px;
        }
        span {
          font-weight: 500;
          font-size: $font-size-xs;
        }
      }
    }
  }
}
