/* ---------------------------------------------
  SECTION STYLES
--------------------------------------------- */

/*-------------------------
  First Screen Section
-------------------------*/
.first-screen-section {
  color: $white;
  background: url('../images/bg/main-page/home.svg') no-repeat;
  background-size: cover;
  background-position-x: -5px;
  min-height: 127vh;
  &--swap {
    background: url('../images/bg/all-cases-page/home.svg') no-repeat;
    background-size: cover;
    background-position-x: -5px;
  }
}

.first-screen-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  position: relative;
  font-family: $font-gilroy;

  @include main-title-h1-h2;

  .btn {
    margin-top: 60px;
    width: 245px;
  }

  .btn-scroll-down {
    position: absolute;
    bottom: 5vh;

    p {
      position: relative;
      left: 37.5px;
      height: 120px;
      font-size: 15px;
      color: $white;
      transform: rotate(-90deg);
    }

    button {
      width: 55px;
      height: 55px;
      background: none;
      border: 1.5px solid $white;
      border-radius: 50px;
      outline: none;
    }
  }
}
/*-------------------------
  We Help Section
-------------------------*/
.we-help-section {
  padding: $indent-m 0 $indent-s 0;

  .section-title {
    max-width: 630px;
    margin-bottom: 55px;
  }

  .quote {
    color: $dark-blue;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 28px;
  }

  p {
    line-height: 1.75;
    margin-bottom: 80px;
  }

  .mobile-slider {
    margin-bottom: 40px;

    .circle {
      background: linear-gradient(to bottom, #2123e2, #101172);
      border-radius: 50%;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      width: 225px !important;
      height: 225px;

      span {
        color: $white;
      }
      span.number {
        font-family: $font-gilroy; // original font Metropolis
        font-size: 81px;
        line-height: 81px;
        font-weight: bold;
        letter-spacing: 0.8px;
      }
      span.description {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.1px;
      }
    }
  }

  .slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    .slick-dots {
      @include slick-dots;
    }

    .circle {
      background: linear-gradient(to bottom, #2123e2, #101172);
      border-radius: 50%;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      width: 275px !important;
      height: 275px;

      span {
        color: $white;
      }
      span.number {
        font-family: $font-gilroy; // original font Metropolis
        font-size: 100px;
        line-height: 100px;
        font-weight: bold;
        letter-spacing: 0.8px;
      }
      span.description {
        font-size: $font-size-xs;
        font-weight: 500;
        letter-spacing: 0.1px;
        text-align: center;
      }
    }
  }
}
/*-------------------------
  Trusted Section
-------------------------*/
.trusted-section {
  .container {
    padding: $indent-s 0;
    border-top: 1px solid $border;
  }

  .section-title {
    text-align: center;
  }

  .clients {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    text-align: center;

    .clients-logo {
      margin: 0 50px;

      p {
        position: relative;
        top: 20px;
        left: 10px;
        font-weight: 900;
        font-size: $font-size-xs;
        text-transform: uppercase;
        color: #326aa2;
      }

      img {
        object-fit: contain;
        width: 125px;
      }
      &:nth-child(3) {
        img {
          width: 80px;
        }
      }
      &:nth-child(4) {
        img {
          width: 90px;
        }
      }
    }
  }
}
/*-------------------------
  Expertise Section
-------------------------*/
.expertise-section {
  background: url('../images/bg/main-page/expertise.svg') no-repeat;
  background-size: cover;
  background-position: top right;
  padding: $indent-m 0;

  ul {
    margin-top: 75px;
    padding-left: 0;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      color: $white;
      font-size: $font-size-l;
      font-weight: 900;
      line-height: 3.1;
      img {
        margin-right: 25px;
      }
    }
  }
}
/*-------------------------
  Case Studies Section
-------------------------*/
.case-studies-section {
  background: url('../images/bg/main-page/case-studies.png') no-repeat;
  background-size: 135%;
  background-position: center 100px;
  padding: $indent-l 0 $indent-m 0;

  .section-title {
    margin-bottom: 110px;
  }

  .case {
    margin-bottom: 135px;

    &__image {
      img {
        object-fit: contain;
        max-width: 540px;
        max-height: 480px;
        width: 100%;
        height: 100%;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .title {
        font-family: $font-gilroy;
        font-size: $font-size-xxl;
        font-weight: 800;
        line-height: 1.72;
        letter-spacing: 0.4px;
        padding-bottom: 15px;
      }

      p {
        opacity: 0.8;
        line-height: 1.75;
        padding-bottom: 50px;
      }

      .btn {
        height: 48px;
        width: 160px;
      }
    }
  }

  .btn--cyan {
    margin: 130px auto auto auto;
  }
}
/*-------------------------
  Reviews Section
-------------------------*/
.reviews-section {
  background: url('../images/bg/main-page/reviews.svg') no-repeat;
  background-size: cover;
  background-position-x: -10px;
  padding: $indent-l 0;
  overflow-x: hidden;

  .slider {
    position: relative;
    width: 1270px;

    .arrow {
      background: inherit;
      border: 1px solid white;
      position: absolute;
      width: 50px;
      height: 50px;
      z-index: 1;
      bottom: -80px;
    }

    .prev-arrow {
      background: url('/images/svgs/next-arrow.svg') no-repeat center;
      left: 85px;
    }

    .next-arrow {
      background: url('/images/svgs/prev-arrow.svg') no-repeat center;
      margin-left: 25px;
    }

    .slick-dots {
      @include slick-dots;
    }
  }

  .review-card {
    position: relative;
    background-color: $white;
    max-width: 590px;
    width: 100%;
    height: 360px;
    padding: 40px 70px;
    margin: 0 25px;

    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .feedback {
      font-size: 16px;
      line-height: 28px;
      color: $dark-blue;
      padding-bottom: 40px;
    }
    .feedback-speaker {
      font-weight: 900;
      font-size: 14px;
      line-height: 16px;
      color: $dark-blue;
    }
    .project-name {
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      color: $dark-blue;
      a {
        color: $cyan;
      }
    }
  }
}
/*-------------------------
  Blog Section
-------------------------*/
.blog-section {
  padding-top: $indent-m;
  padding-bottom: $indent-l;

  .section-title {
    margin-bottom: 80px;
  }

  .btn--cyan {
    margin: 140px auto auto auto;
  }
}

.blog-card {
  a {
    color: inherit;
  }

  img {
    object-fit: contain;
    max-width: 350px;
    max-height: 310px;
    width: 100%;
    height: 100%;
  }

  &__date {
    display: block;
    font-size: $font-size-xs;
    font-weight: 600;
    line-height: 2.36;
    margin: 15px 0;
    opacity: 0.4;
  }

  &__title {
    font-size: $font-size-xl;
    font-weight: bold;
    line-height: 1.38;
    min-height: 66px;
  }

  &__caption {
    line-height: 1.71;
    opacity: 0.8;
    margin-top: 22px;
    margin-bottom: 48px;
  }

  .btn {
    height: 48px;
    width: 130px;
  }
}
/*-------------------------
  Contacts Section
-------------------------*/
.contacts-section {
  background: url('../images/bg/main-page/contacts.svg');
  background-size: cover;
  padding-top: $indent-l;
  padding-bottom: $indent-l;

  &--sub {
    background: url('../images/bg/contacts-page/contacts.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -5px;
  }

  .hire-us,
  .contact {
    padding: 90px 110px;
  }

  .hire-us {
    background-color: $white;

    form {
      padding-top: 50px;

      .user-data {
        display: flex;
        flex-direction: column;
        label {
          font-weight: 500;
          font-size: $font-size-s;
          line-height: 19px;
          color: $dark-black;
        }
        input,
        textarea {
          background-color: inherit;
          border-left: none;
          border-right: none;
          border-top: none;
          border-bottom: 1px solid $border;
          outline: none;
          resize: none;
          &:focus {
            border-bottom-color: $cyan;
          }
        }
        input {
          height: 30px;
          margin-bottom: 40px;
        }
        textarea {
          height: 50px;
        }
      }

      .agreement {
        margin: 20px 0 50px 0;

        .box {
          display: block;
          position: relative;
          padding-left: 20px;
          cursor: pointer;
          font-size: 13px;
          user-select: none;
          margin-bottom: 0;

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 15px;
            width: 15px;
            left: 0;
            top: 2px;
            z-index: 2;

            &:checked ~ .checkmark:after {
              display: block;
            }
          }
          .checkmark {
            position: absolute;
            top: 2px;
            left: 0;
            height: 15px;
            width: 15px;
            border: 1px solid $dark-black;
            background-color: white;

            &:after {
              content: '';
              position: absolute;
              display: none;
              left: 4px;
              top: 1.5px;
              width: 5px;
              height: 8px;
              border: solid $dark-black;
              border-width: 0 1.5px 1.5px 0;
              transform: rotate(45deg);
            }
          }
        }

        .description {
          font-size: $font-size-xs;
          line-height: 21px;
          color: $dark-black;
          padding-left: 5px;
        }
      }

      .captcha {
        margin-bottom: 50px;
      }

      .submit-form {
        span {
          font-weight: 700;
          font-size: $font-size-s;
          color: $dark-blue;
          padding-left: 35px;
        }

        button:disabled,
        button[disabled] {
          opacity: 0.65;
          cursor: not-allowed;
        }
      }
    }
  }

  .contact {
    .locations {
      padding: 65px 0;

      h6 {
        font-weight: 900;
        font-size: $font-size-l;
        line-height: 24px;
        color: $white;
        text-transform: uppercase;
        padding-bottom: 10px;
      }

      p {
        font-weight: 700;
        font-size: $font-size-s;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.5);
      }

      .mb {
        margin-bottom: 35px;
      }
    }
    .mail {
      font-weight: 700;
      font-size: $font-size-s;
      color: $white;
      text-decoration: none;
    }
    .social {
      padding-top: 65px;

      a {
        font-weight: 900;
        font-size: $font-size-l;
        color: $white;
        text-decoration: none;
        margin-bottom: 15px;
      }
    }
  }
}
