/*------------------------
  Terms & Privacy Page
-------------------------*/
.terms-privacy {
  &__content {
    padding: $indent-m 0;
    .info-block {
      margin-bottom: 50px;
      color: $dark-blue;
      > div {
        margin-bottom: 25px;
      }
      h2 {
        font-weight: 900;
        font-size: $font-size-xxl;
        padding-bottom: 20px;
      }
      h3 {
        font-weight: 700;
        font-size: $font-size-l;
        padding-bottom: 10px;
      }
      p {
        font-size: $font-size-xs;
        padding-bottom: 10px;
      }
      ul {
        padding-left: 15px;
        li {
          font-size: $font-size-xs;
        }
      }
    }
  }
}
