/* Lato */
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Lato/LatoLatin-Regular1.woff2') format('woff2'),
    url('./fonts/Lato/LatoLatin-Regular.woff') format('woff'),
    url('./fonts/Lato/LatoLatin-Regular.ttf') format('ttf'),
    url('./fonts/Lato/LatoLatin-Regular.eot') format('eot'),
    url('./fonts/Lato/LatoLatin-Regular.eot?#iefix') format('embedded-opentype');
  unicode-range: U+0000-00FF, U+FFFD;
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Lato/LatoLatin-Medium1.woff2') format('woff2'),
    url('./fonts/Lato/LatoLatin-Medium.woff') format('woff'),
    url('./fonts/Lato/LatoLatin-Medium.ttf') format('ttf'),
    url('./fonts/Lato/LatoLatin-Medium.eot') format('eot'),
    url('./fonts/Lato/LatoLatin-Medium.eot?#iefix') format('embedded-opentype');
  unicode-range: U+0000-00FF, U+FFFD;
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Lato/LatoLatin-Bold1.woff2') format('woff2'),
    url('./fonts/Lato/LatoLatin-Bold.woff') format('woff'),
    url('./fonts/Lato/LatoLatin-Bold.ttf') format('ttf'),
    url('./fonts/Lato/LatoLatin-Bold.eot') format('eot'),
    url('./fonts/Lato/LatoLatin-Bold.eot?#iefix') format('embedded-opentype');
  unicode-range: U+0000-00FF, U+FFFD;
}
@font-face {
  font-display: swap;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/Lato/LatoLatin-Heavy1.woff2') format('woff2'),
    url('./fonts/Lato/LatoLatin-Heavy.woff') format('woff'),
    url('./fonts/Lato/LatoLatin-Heavy.ttf') format('ttf'),
    url('./fonts/Lato/LatoLatin-Heavy.eot') format('eot'),
    url('./fonts/Lato/LatoLatin-Heavy.eot?#iefix') format('embedded-opentype');
  unicode-range: U+0000-00FF, U+FFFD;
}

/* Gilroy */
@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Gilroy/Gilroy-Light1.woff2') format('woff2'),
    url('./fonts/Gilroy/Gilroy-Light.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-Light.ttf') format('ttf'),
    url('./fonts/Gilroy/Gilroy-Light.eot') format('eot'),
    url('./fonts/Gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype');
  unicode-range: U+0000-00FF, U+FFFD;
}
@font-face {
  font-display: swap;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/Gilroy/Gilroy-Extrabold1.woff2') format('woff2'),
    url('./fonts/Gilroy/Gilroy-ExtraBold.woff') format('woff'),
    url('./fonts/Gilroy/Gilroy-ExtraBold.ttf') format('ttf'),
    url('./fonts/Gilroy/Gilroy-ExtraBold.eot') format('eot'),
    url('./fonts/Gilroy/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype');
  unicode-range: U+0000-00FF, U+FFFD;
}
