// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .blog-post__content {
    max-width: 790px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .first-screen-wrapper {
    padding-top: 10vh;
  }
  .expertise-section {
    background-size: cover;
    background-position: center;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  /*-------------------------
  First Screen Section
  -------------------------*/
  .first-screen-wrapper {
    h1 {
      font-size: 70px;
    }
  }
  /*-------------------------
  We Help Section
  -------------------------*/
  .we-help-section {
    padding: $indent-s 0;
    .slider-desktop {
      display: none;
    }
  }
  /*-------------------------
  Case Studies Section
  -------------------------*/
  .case-studies-section {
    .case__description {
      .title {
        font-size: 30px;
      }
      p {
        font-size: $font-size-xs;
      }
    }
  }
  /*-------------------------
  Reviews Section
  -------------------------*/
  .reviews-section {
    .section-title,
    .section-subtitle {
      text-align: center;
    }
    .slider {
      margin-top: 50px;
      width: auto;
    }
    .review-card {
      display: flex !important;
      flex-direction: column;
      justify-content: space-between;
      margin: auto;
    }
  }
  /*-------------------------
  Blog Section
  -------------------------*/
  .blog-section {
    padding: $indent-s 0;
    .btn--cyan {
      margin: 90px auto auto auto;
    }
  }
  .blog-card {
    .btn {
      margin-bottom: 50px;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  /*-------------------------
  Contacts Section
  -------------------------*/
  .contacts-section {
    .hire-us,
    .contact {
      padding: 45px 55px;
    }
  }

  /*-------------------------
  Blog Page
  -------------------------*/
  .blog__newest__post {
    &__label {
      top: 20px;
      left: 25px;
    }

    &__content {
      .title {
        line-height: 1;
      }
    }
  }

  /*-------------------------
  Case Page
  -------------------------*/
  .case {
    .section-image {
      margin-top: 40px;
      align-items: center;
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  /*-------------------------
  COMMON COMPONENTS    
  -------------------------*/
  .navigation-mobile {
    button {
      background: none;
      border: none;
      outline: none;
      float: right;
    }
  }

  .navigation-desktop {
    display: none !important;
  }

  .reviews-section {
    .review-card {
      padding: 30px 50px;
    }
  }

  .case-studies-section {
    .case__description {
      .title {
        padding-top: 20px;
      }
    }
  }

  .we-help-section {
    .btn--cyan {
      width: 100%;
      margin-top: 50px;
    }
  }

  .trusted-section {
    .clients {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      > div {
        margin: 25px 0 !important;
      }
    }
  }

  .blog-card {
    .btn {
      margin-bottom: 0;
    }
    margin-bottom: 60px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .contacts-section {
    padding: $indent-s 0;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  /*-------------------------
  COMMON COMPONENTS    
  -------------------------*/
  .header {
    padding: 25px 0;
    &--fix {
      padding: 15px 0;
    }
  }

  .section-title {
    font-size: $font-size-xxl;
    padding-bottom: 15px;
  }

  .section-subtitle {
    font-size: $font-size-s;
  }

  .first-screen-wrapper {
    padding-top: 10vh;
    h1 {
      font-size: 46px;
      line-height: 54px;
      padding-bottom: 20px;
    }
    h2 {
      font-size: 18px;
      line-height: 24px;
    }
    .btn {
      width: 185px;
      height: 53px;
      font-size: 14px;
    }
  }

  /*-------------------------
  We Help Screen Section
  -------------------------*/
  .we-help-section {
    padding: $indent-xs 0;
    .section-title {
      margin-bottom: 15px;
    }
    .quote {
      font-size: 18px;
    }
    p {
      font-size: 14px;
      margin-bottom: 35px;
    }
    .btn--cyan {
      width: 100%;
    }
    br {
      display: none;
    }
    .mobile-slider {
      .circle {
        span.description {
          padding: 0 20px;
          text-align: center;
        }
      }
    }
  }

  /*-------------------------
  Trusted Section
  -------------------------*/
  .trusted-section {
    .container {
      position: relative;
      padding: $indent-xs 0;
      border-top: 0;
      &:before {
        position: absolute;
        content: '';
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin: 0 5% 0 5%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.2);
        top: 0;
      }
    }
  }
  /*-------------------------
  Expertise Section
  -------------------------*/
  .expertise-section {
    padding: $indent-xs 0;
    .section-subtitle {
      br {
        display: none;
      }
    }
    ul {
      margin-top: 35px;
      li {
        font-size: $font-size-s;
      }
    }
  }
  /*-------------------------
  Case Studies Section
  -------------------------*/
  .case-studies-section {
    padding: $indent-s 0;
    .section-title {
      margin-bottom: 20px;
    }
    .case {
      margin-bottom: 75px;
    }
    .btn--cyan {
      width: 100%;
      margin: 0;
    }
    .case__description {
      .title {
        font-size: 30px;
      }
      p {
        font-size: $font-size-xs;
        padding-bottom: 30px;
      }
    }
  }
  /*-------------------------
  Reviews Section
  -------------------------*/
  .reviews-section {
    background-position-x: -250px !important;
    padding: $indent-s 0 $indent-m 0;
    .slider {
      width: 100%;
      .review-card {
        padding: 30px 25px;
        .feedback {
          font-size: $font-size-xs;
          line-height: 22px;
        }
        .feedback-speaker,
        .project-name {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }
  /*-------------------------
  Blog Section
  -------------------------*/
  .blog-section {
    padding: $indent-xs 0;
    .section-title {
      margin-bottom: 10px;
    }
    .btn--cyan {
      width: 100%;
      margin: 0;
    }
    .blog-card {
      margin-bottom: 75px;
      &__caption {
        margin-bottom: 30px;
      }
    }
  }
  /*-------------------------
  Contacts Section
  -------------------------*/
  .contacts-section {
    padding: $indent-xs 0;
    .section-title {
      padding-bottom: 0;
    }
    form {
      label {
        font-size: $font-size-xs !important;
      }
      input {
        height: 20px !important;
        margin-bottom: 25px !important;
      }
      textarea {
        height: 30px !important;
      }
      .description {
        font-size: 12px !important;
      }
    }
    .hire-us {
      max-width: calc(100% - 30px);
      margin: 25px 15px 0 15px;
      padding: 40px 30px;
    }

    .contact {
      padding: 40px 30px 0 30px;
    }
    .locations {
      padding: 35px 0 !important;
      h6 {
        font-size: $font-size-m !important;
        padding-bottom: 5px !important;
      }
      p {
        font-size: 14px !important;
      }
      .mb {
        margin-bottom: 25px !important;
      }
    }
    .social {
      padding-top: 35px !important;
      a {
        font-size: $font-size-m !important;
      }
    }
  }
  /*-------------------------
  Footer
  -------------------------*/
  .footer__content {
    display: flex;
    flex-direction: column;

    span {
      order: 1;
    }
  }
  /*-------------------------
  Case Studies Page
  -------------------------*/
  .case__overview,
  .case__challenge,
  .case__solution {
    padding: $indent-s 0;
  }

  .case {
    .section-image {
      margin-top: 50px;
    }

    .description-block {
      .section-name {
        font-size: $font-size-xxl;
        &:before {
          top: -65px;
          left: 0;
        }
      }
      .section-overview {
        font-size: $font-size-xs;
      }
      .section-list {
        padding-top: 30px;
        li {
          font-size: $font-size-xs;
        }
      }
    }
  }

  .case__solution .review-block {
    padding-top: 100px;
    h4 {
      font-size: 24px;
      padding-bottom: 25px;
    }
    p {
      font-size: $font-size-xs;
    }
    .review-author {
      padding-top: 35px;
      strong {
        font-size: $font-size-xs;
      }
    }
  }

  /*-------------------------
  Blog Page
  -------------------------*/
  .blog__newest__post {
    &__label,
    &__image {
      display: none;
    }

    &__content {
      position: static;
      margin-top: 40px;
      margin-bottom: 100px;

      .date {
        margin-top: 0;
        margin-bottom: 20px;
      }
      .title {
        font-size: 32px;
        margin-bottom: 30px;
        line-height: 1.33;
      }
    }
  }

  /*-------------------------
  Blog Post Page
  -------------------------*/
  .blog-post {
    &__header {
      &__content {
        .title {
          font-size: $font-size-xxl;
        }
      }
    }
  }
}

// HEIGHT
@media (max-height: 800px) {
  .btn-scroll-down {
    display: none;
  }
}
