@mixin title-md {
  font-family: $font-gilroy;
  font-size: $font-size-xxxl;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.5px;
}

@mixin main-title-h1-h2 {
  h1 {
    font-family: $font-gilroy;
    font-size: 80px;
    font-weight: 800;
    line-height: 90px;
    text-transform: capitalize;
  }

  h2 {
    font-family: $font-gilroy;
    font-size: $font-size-l;
    font-weight: 300;
  }
}

@mixin flex-column-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-column-center-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

@mixin slick-dots {
  bottom: -50px !important;
  li.slick-active button::before {
    opacity: 1;
    color: #180148;
  }
  li {
    button {
      &::before {
        font-size: 12px;
        opacity: 0.45;
        color: #180148;
      }
    }
  }
}

@mixin breakpoint($point) {
  @if $point == xsMobile {
    @media only screen and (max-width: 374.98px) {
      @content;
    }
  }
  @if $point == smMobile {
    @media only screen and (max-width: 575.98px) {
      @content;
    }
  }
  @if $point==mobile {
    @media only screen and (max-width: 767.98px) {
      @content;
    }
  }
  @if $point==tablet {
    @media only screen and (max-width: 991.98px) {
      @content;
    }
  }
  @if $point==laptop {
    @media only screen and (max-width: 1280px) {
      @content;
    }
  }
}
