/* Colors */
$blue: #2121d8;
$cyan: #3491ef;
$turquoise: #19b1c6;
$white: #ffffff;
$dark-blue: #07093c;
$dark-black: #05062b;
$border: #788ca026;

/* Fonts */
$font-size-xs: 14px;
$font-size-s: 16px; // default
$font-size-m: 18px;
$font-size-l: 20px;
$font-size-xl: 24px;
$font-size-xxl: 36px;
$font-size-xxxl: 48px;

$font-lato: 'Lato', sans-serif;
$font-gilroy: 'Gilroy', sans-serif;

$border-radius-base: 2px;

$indent-xs: 75px;
$indent-s: 100px;
$indent-m: 150px;
$indent-l: 175px;
