@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'libs';

/*-------------------------
  COMMON COMPONENTS   
-------------------------*/
body {
  color: $dark-blue;
  font-family: $font-lato;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

a {
  text-decoration: none !important;
}

.btn {
  display: block;
  font-family: $font-gilroy;
  font-weight: 800;
  line-height: 2.06;
  letter-spacing: 0.6px;
  height: 65px;
  width: 195px;
  text-transform: capitalize;

  &--white {
    color: $white;
    border: 1.5px solid $white;
    background-color: transparent;
    transition: all 0.5s;
    strong {
      position: relative;
      transition: all 0.5s;
    }
    span {
      position: absolute;
      transition: 0.5s;
      opacity: 0;
      img {
        width: 22px;
        height: 12px;
      }
    }
    &:hover {
      //background-color: rgba(255,255,255, 0.07);
      //border-color: rgba(255,255,255, 0.1);
      //border-width: 1px;
      strong {
        padding-right: 20px;
      }
      span {
        padding-left: 5px;
        opacity: 1;
      }
    }
  }

  &--cyan {
    color: $white;
    border: 1.5px solid $cyan;
    background-color: $cyan;
    position: relative;
    transition: all 0.5s;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: rgba(255, 255, 255, 0.1);
      transition: all 0.5s;
    }
    &:hover {
      border-color: rgba(255, 255, 255, 0.1);
      &::after {
        width: 100%;
      }
    }
  }

  &--cyan--trasparent {
    color: $cyan;
    border: 2px solid $cyan;
    background-color: transparent;
    position: relative;
    background: linear-gradient(to right, transparent 50%, $cyan 50%);
    background-size: 220% 110%;
    background-position: left bottom;
    transition: all 0.5s;
    &:hover {
      color: $white;
      background-position: right bottom;
    }
  }
}

.header {
  color: $white;
  display: flex;
  align-items: center;
  padding: 35px 15px;
  position: fixed;
  width: 100%;
  transition: all 0.5s;
  z-index: 100;

  &--fix {
    background: $dark-blue; // с цветом еще определяемся
    padding: 15px;
    transition: all 0.5s;
  }

  nav {
    a {
      color: inherit;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.2;
      margin-right: 40px;

      &:hover {
        border-bottom: 3px solid;
        padding-bottom: 10px;
      }
    }
  }

  .btn {
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    height: 48px;
    width: 146px;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.96);

  .close-btn {
    background: none;
    border: none;
    color: $white;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      font-size: $font-size-xxl;
      margin-right: 0;
      margin-bottom: 25px;
      &:hover {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}

.section-title {
  color: $dark-blue;
  @include title-md;

  &--small {
    font-size: 36px;
  }

  &--white {
    color: $white;
  }
}

.section-subtitle {
  font-size: 18px;
  line-height: 1.78;
  margin-top: 10px;

  &--white {
    color: $white;
  }
}

.footer {
  background-color: $dark-blue;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
  }

  span,
  a {
    color: $white;
    font-weight: 500;
    line-height: 2.06;
  }
}

.layout-content {
  min-height: calc(100vh - 96px);
}

/*------------------------
 Pages
-------------------------*/
@import 'pages';

// Always at the end
@import 'media';
